# Backups
*~

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
*.elf
*.aout

# Mac stuff
libiconv*
.DS_Store

# Build artifacts
*.iso
*.img
*.bin
*.mod
*.map
# Compiled Object files
*.slo
*.lo
*.o
*.d

# Development artifacts
*.log
*.tags*
ldcedilz
iso/system/cedille
t/gcc/*
*.elf
*.aout
toolkit/arm-2008q3/
libiconv*
.DS_Store

*.iso
*.img
*.bin
*.mod
*.map

initutil
*.log
*.tags*
build/

.cproject
.project
.settings/

temp/

.vscode/

# GTags
GTAGS
GRTAGS
GPATH


# Personal scripts
virtualbox.sh