KERNEL_PLATFORM_CFLAGS=
KERNEL_PLATFORM_CPPFLAGS=
KERNEL_PLATFORM_LDFLAGS=
KERNEL_PLATFORM_LIBS= 
KERNEL_PLATFORM_OBJS=\
	$(PLATFORM_DIR)/boot.o \
    $(PLATFORM_DIR)/halt.o \
	$(PLATFORM_DIR)/arch_start.o \
    $(PLATFORM_DIR)/memory.o \
    $(PLATFORM_DIR)/log.o \
    $(PLATFORM_DIR)/ports.o \
    $(PLATFORM_DIR)/drivers/textmode_log.o \
    $(PLATFORM_DIR)/drivers/bga.o \
    $(PLATFORM_DIR)/drivers/bga_log.o \
    $(PLATFORM_DIR)/drivers/serial_log.o