KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS= 
KERNEL_ARCH_OBJS=\
	$(ARCHDIR)/boot.o \
    $(ARCHDIR)/halt.o \
	$(ARCHDIR)/arch_start.o \
    $(ARCHDIR)/textmode_log.o \
    $(ARCHDIR)/ports.o \
    $(ARCHDIR)/drivers/bga.o \
    $(ARCHDIR)/drivers/bga_log.o \
    $(ARCHDIR)/drivers/serial_log.o